<div th:fragment="sidebar">
	<div class="col-md-3 col-lg-2 d-md-block sidebar collapse"
		id="sidebarMenu">
		<div class="position-sticky pt-3">


			<!-- 계약 시작하기 버튼 -->
			<div class="start-contract-btn-wrapper">
				<a href="#" class="btn btn-primary btn-lg w-100 start-contract-btn">계약
					시작하기</a>
			</div>

			<!-- 메인 내비게이션 -->
			<ul class="nav flex-column main-nav">
				<!-- 대시보드 -->
				<li class="nav-item">
					<a
					class="nav-link d-flex justify-content-between align-items-center"
					data-bs-toggle="collapse" href="#" role="button"
					aria-expanded="false" aria-controls="contractMenu">
					<span>
						<i class="bi bi-house-door-fill me-2"></i> 대시보드
					</span>
					</a>
				</li>
				<!-- 상담사관리 -->
				<li class="nav-item">
					<a class="nav-link d-flex justify-content-between align-items-center"
					   th:href="@{/admin/list}" role="button">
						<span>
							<i class="bi bi-person-lines-fill me-2"></i> 상담사관리
						</span>
					</a>
				</li>

				<!-- 계약서 관리 -->
				<li class="nav-item">
					<a class="nav-link d-flex justify-content-between align-items-center"
					data-bs-toggle="collapse" href="#userMenu" role="button"
					aria-expanded="false" aria-controls="userMenu">
						<span>
							<i class="bi bi-file-earmark-text-fill me-2"></i> 계약서 관리
						</span>
					</a>
				</li>

				<!-- 계약 관리 -->
				<li class="nav-item">
					<a
						class="nav-link d-flex justify-content-between align-items-center"
						data-bs-toggle="collapse" href="#contractMenu" role="button"
						aria-expanded="false" aria-controls="contractMenu">
						<span>
							<i class="bi bi-receipt-cutoff me-2"></i> 계약 관리
						</span>
						<i class="bi bi-chevron-down"></i>
					</a>
					<div class="collapse ps-4" id="contractMenu">
						<a class="nav-link sub-nav" href="#">완료된 계약</a> <a
							class="nav-link sub-nav" href="#">미완료 계약</a>
					</div>
				</li>

				<!-- 공지사항 관리-->
				<li class="nav-item">
					<a
						class="nav-link d-flex justify-content-between align-items-center"
						data-bs-toggle="collapse" href="#noticeManagement" role="button"
						aria-expanded="false" aria-controls="noticeManagement">
						<span>
							<i class="bi bi-bell-fill me-2"></i> 공지사항 관리
						</span>
						<i class="bi bi-chevron-down"></i>
					</a>
<!--					<div class="collapse ps-4" id="noticeManagement">-->
<!--						<a class="nav-link sub-nav" href="#">내 정보</a> <a-->
<!--							class="nav-link sub-nav" href="#">요금제</a>-->
<!--					</div>-->
				</li>

				<!-- 통계 -->
				<li class="nav-item">
					<a
						class="nav-link d-flex justify-content-between align-items-center"
						data-bs-toggle="collapse" href="#userMenu" role="button"
						aria-expanded="false" aria-controls="userMenu">
						<span>
							<i class="bi bi-people me-2"></i> 통계</span>
					</a>
			</ul>

			<!-- 사이드바 푸터 정보 -->
			<div class="sidebar-footer mt-auto">
				<ul class="list-unstyled company-info">
					<li class="d-flex">
						<div class="info-label">대표이사</div>
						<div class="info-value">김시연</div>
					</li>
					<li class="d-flex flex-column">
						<div class="info-label">주소</div>
						<div class="info-value">서울특별시 영등포구 여의도동 국제금융로 39, 20층</div>
					</li>
					<li class="d-flex">
						<div class="info-label">이메일</div>
						<div class="info-value">visanghelp@inswave.com</div>
					</li>
					<li class="d-flex">
						<div class="info-label">대표번호</div>
						<div class="info-value">02-2082-1400 (평일 09:00~17:00)</div>
					</li>
				</ul>
				<div class="business-info">사업자등록번호 : 107-86-16054</div>
				<div class="footer-links">
					<a href="#">이용약관</a> | <a href="#">개인정보처리방침</a>
				</div>
				<div class="copyright">Inswave Systems © 2024</div>
			</div>
		</div>
	</div>
</div>
