<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>정규식 패턴</title>
</head>
<body>
    <!-- 정규식 패턴 JavaScript 변수 선언 조각 -->
    <th:block th:fragment="pattern-variables">
        <script th:inline="javascript">
            // 전역 정규식 패턴 정의 (서버에서 제공된 값 사용)
            const NAME_REGEX = new RegExp(/*[[${regexPatterns.NAME_REGEX_STR}]]*/ '');
            const EMAIL_REGEX = new RegExp(/*[[${regexPatterns.EMAIL_REGEX_STR}]]*/ '');
            const PASSWORD_REGEX = new RegExp(/*[[${regexPatterns.PASSWORD_REGEX_STR}]]*/ '');
            const PHONE_REGEX = new RegExp(/*[[${regexPatterns.PHONE_REGEX_STR}]]*/ '');
            const SSN_REGEX = new RegExp(/*[[${regexPatterns.SSN_REGEX_STR}]]*/ '');
            
            // 정규식 검증 오류 메시지
            const NAME_ERROR_MSG = /*[[${regexPatterns.NAME_ERROR_MSG}]]*/ '';
            const EMAIL_ERROR_MSG = /*[[${regexPatterns.EMAIL_ERROR_MSG}]]*/ '';
            const PASSWORD_ERROR_MSG = /*[[${regexPatterns.PASSWORD_ERROR_MSG}]]*/ '';
            const PHONE_ERROR_MSG = /*[[${regexPatterns.PHONE_ERROR_MSG}]]*/ '';
            const SSN_ERROR_MSG = /*[[${regexPatterns.SSN_ERROR_MSG}]]*/ '';
        </script>
    </th:block>
    
    <!-- 정규식 검증 유틸리티 함수 조각 -->
    <th:block th:fragment="validation-utils">
        <script th:inline="javascript">
            // 정규식 패턴을 먼저 로드해야 함 (pattern-variables fragment 포함 필요)
            
            /**
             * 이름 검증 함수
             */
            function validateName(name) {
                return NAME_REGEX.test(name);
            }
            
            /**
             * 이메일 검증 함수
             */
            function validateEmail(email) {
                return EMAIL_REGEX.test(email);
            }
            
            /**
             * 비밀번호 검증 함수
             */
            function validatePassword(password) {
                return PASSWORD_REGEX.test(password);
            }
            
            /**
             * 전화번호 검증 함수
             */
            function validatePhone(phone) {
                return PHONE_REGEX.test(phone);
            }
            
            /**
             * 주민등록번호 검증 함수
             */
            function validateSsn(ssn) {
                return SSN_REGEX.test(ssn);
            }
        </script>
    </th:block>
</body>
</html> 