<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.kosa.visang.domain.chat.repository.ChatMapper">

	<resultMap id="clientResultMap"
		type="kr.or.kosa.visang.domain.client.model.Client">
		<result column="chat_id" property="chatId" />
		<result column="contract_id" property="contractId" />
		<result column="sender_id" property="senderId" />
		<result column="sender_type" property="senderType" />
		<result column="message" property="message" />
		<result column="message_type" property="messageType" />
		<result column="sent_time" property="sendTime" />
	</resultMap>


</mapper>
