<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="kr.or.kosa.visang.domain.invitation.repository.InvitationMapper">
	<resultMap id="InvitationResultMap"
		type="kr.or.kosa.visang.domain.invitation.model.Invitation">
		<result column="invitation_id" property="invitationId" />
		<result column="invitation_code" property="invitationCode" />
		<result column="expired_time" property="expiredTime" />
		<result column="created_at" property="createdAt" />
		<result column="contract_id" property="contractId" />
		<result column="email_sent" property="emailSent" />
	</resultMap>

	<insert id="insertInvitation"
		parameterType="kr.or.kosa.visang.domain.invitation.model.Invitation">
		<selectKey keyProperty="invitationId" order="BEFORE"
			resultType="long">
			SELECT invitation_seq.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO invitation
		(invitation_id, invitation_code, expired_time,
		created_at, contract_id, email_sent)
		VALUES
		(#{invitationId},
		#{invitationCode}, #{expiredTime}, #{createdAt}, #{contractId},
		#{emailSent})
	</insert>

	<delete id="deleteByContractId" parameterType="long">
		DELETE FROM
		invitation
		WHERE contract_id = #{contractId}
	</delete>

	<update id="updateEmailSent" parameterType="map">
		UPDATE invitation
		SET
		email_sent = #{emailSent}
		WHERE invitation_id = #{invitationId}
	</update>

	<select id="findByCode"
		resultType="kr.or.kosa.visang.domain.Invitation.model.Invitation">
		SELECT * FROM invitation WHERE invitation_code = #{code}
	</select>


</mapper>
